{%-
  liquid
  assign title = title | default: false
  assign resources = resources | default: false
  assign url = url | default: false

  if recommendations.performed and recommendations.products_count > 0
    assign resources = recommendations.products
  endif
-%}

{%- if resources or url -%}
  {%- if settings.enable_cart_upsell -%}
    <div class="cart-drawer__upsell{% if url and recommendations.products_count == 0 %} hidden{% endif %}"{% if url %} data-cart-drawer-upsells data-url="{{- url -}}"{% endif %} data-recommendations-products-count="{{- recommendations.products_count -}}">
      {%- if title -%}
        <p class="cart-drawer__upsell-title h5">
          {{- title | escape -}}
        </p><!-- /.cart-drawer__upsell-title h5 -->
      {%- endif -%}

      <div class="cart-drawer__upsell-items">
        {%- for upsell_product in resources -%}
          {%- if upsell_product == empty or upsell_product.available == false -%}
            {%- continue -%}
          {%- endif -%}

          {% render 'cart-drawer-upsell', upsell_product: upsell_product %}
        {%- endfor -%}
      </div><!-- /.cart-drawer__upsell-items -->
    </div><!-- /.cart-drawer__upsell -->
  {%- endif -%}
{%- endif -%}
