{%- render 'icon-cart' -%}
<span class="badge-counter cart-count-badge p6{% if cart.item_count == 0 %} hidden{% endif %}">{{- cart.item_count -}}</span>
<span class="visually-hidden">{{- 'accessibility.cart' | t -}}</span>
