<li class="{%- if offset_top -%}mt-m{%- elsif index0 > 0 -%}mt-s{%- endif -%}">
  <a href="{{- link.url -}}" class="inline-unstyled-link motion-reduce">
    {{- link.title | escape -}}
  </a>
</li>
