{%- comment -%}
  Accepts:
  - namespace {String} - an unique id for the form fields.
  - js_class? {String} - JS selector class
  - show_terms? {Boolean} - Show privacy terms acceptance message
  - button_type {String} - button / link
  Usage:
  {% render 'newsletter-form' %}

{%- endcomment -%}

{{- 'component-newsletter-form.css' | asset_url | stylesheet_tag: preload: true -}}

<script src="{{- 'form-validation.js' | asset_url -}}" defer></script>

{%-
  liquid
  assign class = 'newsletter-form contact-form ' | append: js_class
  assign namespace = namespace | default: ''
  assign form_id = 'Contact-Form-' | append: namespace
-%}

<form-validation>
  {%- form 'customer', class: class, id: form_id -%}
    <input type="hidden" name="contact[tags]" value="newsletter">

    {%- if form.errors -%}
      <div class="color-red">
        {{- form.errors | default_errors -}}
      </div><!-- /.color-red -->
    {%- endif -%}


    {%-
      liquid
      assign label = 'newsletter-form.email.label' | t
      assign placeholder = 'newsletter-form.email.placeholder' | t
      capture attr
        echo 'aria-required="true"'
        echo 'autocapitalize="off"'
        echo 'autocomplete="email"'
        if form.errors
          echo 'autofocus '
        endif
      endcapture
      if form.errors
        assign message = form.errors.translated_fields['email'] | capitalize | append: ' ' | append: form.errors.messages['email']
        assign has_error = true
      elsif form.posted_successfully?
        assign message = 'newsletter-form.success' | t
      endif
      assign id = 'NewsletterForm--' | append: section.id
      render 'text-input', id: id, label: label, type: 'email', name: 'contact[email]', placeholder: placeholder, attr: attr, message: message, has_error: has_error, required: true, value: form.email, hide_label: true, style: 'large'
    -%}

    <div class="newsletter-form__actions">
      {%-
        liquid
        assign value = 'newsletter-form.submit' | t
        assign id = 'Subscribe-' | append: section.id
        assign css = button_type | default: 'link'
        render 'button', type: 'submit', name: 'commit', id: id, value: value, css: css, styles: 's', fullwidth: true
        assign value = nil
        assign id = nil
      -%}
    </div><!-- /.newsletter-form__actions -->
  {%- endform -%}
</form-validation>

{%- if show_terms and shop.privacy_policy != blank -%}
  <p class="p4 mt-s mb-0">{{- 'newsletter-form.privacy_note_html' | t: url: shop.privacy_policy.url -}}</p><!-- /.p4 mt-s mb-0 -->
{%- endif -%}

