{%- unless section.blocks.size == 0 or section.blocks.size == 1 -%}
  {%-
    liquid
    capture style_classes
      echo ' color-' | append: section.settings.style | append: ' ' | append: section.settings.spacing_mobile | append: ' ' | append: section.settings.spacing_desktop | append: ' color-background pt-l pb-l'
      assign is_fullwidth = false
      if section.settings.enable_fullwidth
        assign is_fullwidth = true
        echo ' pt-0--large pb-0--large'
      else
        echo ' spacer-t-xl--large spacer-b-xl--large'
      endif
    endcapture
  -%}

  <section class="section-2-image-columns {{ style_classes }}">
    <div class="container {% if is_fullwidth %} container--no-gutter container--fullwidth {% endif %}">
      <div class="grid grid--row-gap-0 grid--no-column-gap">
        {% for block in section.blocks %}
          {%-
            liquid
            assign grid_item_class = 'grid__item--xs-12'
            if section.blocks.size > 1
              assign grid_item_class = 'grid__item--2 grid__item--xs-6'
            endif
          -%}
          <div class="grid__item {{ grid_item_class }}" {{ block.shopify_attributes }}>
            <div class="media media--portrait">
              {%-
                liquid
                if block.settings.image != blank
                  assign image = block.settings.image
                  assign image_mobile = block.settings.image_mobile | default: image
                  assign image_src = image | image_url: width: 500
                  assign mobile_image_src = image_mobile | image_url: width: 375
                  capture image_srcset
                    render 'srcset', image: image
                  endcapture
                  capture mobile_image_srcset
                    render 'srcset', image: image_mobile
                  endcapture
                  assign image_alt = image.alt | escape

                  render 'image', src: image_src, srcset: image_srcset, sizes: '25vw', alt: image_alt, width: block.settings.image.width, height: block.settings.image.height, class: 'small-hide'

                  render 'image', src: mobile_image_src, srcset: mobile_image_srcset, sizes: 'auto', alt: image_alt, width: block.settings.image_mobile.width, height: block.settings.image_mobile.height, class: 'medium-hide large-up-hide'
                else
                  echo 'image' | placeholder_svg_tag: 'placeholder-svg'
                endif
              -%}
            </div><!-- /.media -->
          </div>
        {% endfor %}
      </div><!-- /.grid -->
    </div><!-- /.container -->
  </section><!-- /.section-2-image-columns -->
{%- endunless -%}
{% schema %}
{
  "name": "t:sections.2-image-columns.name",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.global.settings.style.label",
      "options": [
        {
          "value": "style-1",
          "label": "t:sections.global.settings.style.options.option_1"
        },
        {
          "value": "style-2",
          "label": "t:sections.global.settings.style.options.option_2"
        },
        {
          "value": "style-3",
          "label": "t:sections.global.settings.style.options.option_3"
        }
      ],
      "default": "style-1"
    },
    {
      "type": "select",
      "id": "spacing_desktop",
      "label": "t:sections.global.settings.spacing.label",
      "options": [
        {
          "value": "mt-0--large mb-0--large",
          "label": "t:sections.global.settings.spacing.options.option_1"
        },
        {
          "value": "mt-xs--large mb-xs--large",
          "label": "t:sections.global.settings.spacing.options.option_2"
        },
        {
          "value": "mt-s--large mb-s--large",
          "label": "t:sections.global.settings.spacing.options.option_3"
        }
      ],
      "default": "mt-s--large mb-s--large"
    },
    {
      "type": "select",
      "id": "spacing_mobile",
      "label": "t:sections.global.settings.spacing.label_mobile",
      "options": [
        {
          "value": "mt-0 mb-0",
          "label": "t:sections.global.settings.spacing.options.option_1"
        },
        {
          "value": "mt-xs mb-xs",
          "label": "t:sections.global.settings.spacing.options.option_2"
        },
        {
          "value": "mt-s mb-s",
          "label": "t:sections.global.settings.spacing.options.option_3"
        }
      ],
      "default": "mt-s mb-s"
    },
    {
      "type": "checkbox",
      "id": "enable_fullwidth",
      "label": "t:sections.2-image-columns.settings.enable_fullwidth.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "limit": 2,
      "type": "image",
      "name": "t:sections.2-image-columns.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.global.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.global.settings.image.label_mobile"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.2-image-columns.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
