{%-
  liquid
  echo 'section-hero.css' | asset_url | stylesheet_tag
  echo 'component-text-content.css' | asset_url | stylesheet_tag
  assign style_classes = section.settings.text_align | append: ' color-' | append: section.settings.style | append: ' ' | append: section.settings.spacing_mobile | append: ' ' | append: section.settings.spacing_desktop
-%}

<section class="hero {{ style_classes }} relative">
  {%- render 'hero-block',
    height: section.settings.height,
    image: section.settings.image,
    image_mobile: section.settings.image_mobile,
    align_vertical: section.settings.align_vertical,
    align_horizontal: section.settings.align_horizontal,
    background_overlay: section.settings.background_overlay,
    background_overlay_opacity: section.settings.background_overlay_opacity,
    heading: blog.title,
    heading_size: 'h1',
    show_background: section.settings.show_background,
    class: 'hero__block__',
    image_crop: section.settings.image_crop
  -%}
</section><!-- /.hero -->

{% schema %}
{
  "name": "t:sections.blog-banner.name",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.global.settings.style.label",
      "options": [
        {
          "value": "style-1",
          "label": "t:sections.global.settings.style.options.option_1"
        },
        {
          "value": "style-2",
          "label": "t:sections.global.settings.style.options.option_2"
        },
        {
          "value": "style-3",
          "label": "t:sections.global.settings.style.options.option_3"
        }
      ],
      "default": "style-1"
    },
    {
      "type": "select",
      "id": "spacing_desktop",
      "label": "t:sections.global.settings.spacing.label",
      "options": [
        {
          "value": "mt-0--large mb-0--large",
          "label": "t:sections.global.settings.spacing.options.option_1"
        },
        {
          "value": "mt-xs--large mb-xs--large",
          "label": "t:sections.global.settings.spacing.options.option_2"
        },
        {
          "value": "mt-s--large mb-s--large",
          "label": "t:sections.global.settings.spacing.options.option_3"
        }
      ],
      "default": "mt-s--large mb-s--large"
    },
    {
      "type": "select",
      "id": "spacing_mobile",
      "label": "t:sections.global.settings.spacing.label_mobile",
      "options": [
        {
          "value": "mt-0 mb-0",
          "label": "t:sections.global.settings.spacing.options.option_1"
        },
        {
          "value": "mt-xs mb-xs",
          "label": "t:sections.global.settings.spacing.options.option_2"
        },
        {
          "value": "mt-s mb-s",
          "label": "t:sections.global.settings.spacing.options.option_3"
        }
      ],
      "default": "mt-s mb-s"
    },
    {
      "type": "select",
      "id": "height",
      "label": "t:sections.banner.settings.height.label",
      "options": [
        {
          "value": "xlarge",
          "label": "t:sections.banner.settings.height.options.option_1"
        },
        {
          "value": "large",
          "label": "t:sections.banner.settings.height.options.option_2"
        },
        {
          "value": "medium",
          "label": "t:sections.banner.settings.height.options.option_3"
        },
        {
          "value": "compact",
          "label": "t:sections.banner.settings.height.options.option_4"
        },
        {
          "value": "small",
          "label": "t:sections.banner.settings.height.options.option_5"
        },
        {
          "value": "custom",
          "label": "t:sections.banner.settings.height.options.option_6"
        }
      ],
      "default": "large"
    },
    {
      "type": "header",
      "content": "t:sections.banner.settings.header_background.content"
    },
    {
      "type": "select",
      "id": "image_crop",
      "label": "t:sections.banner.settings.image_crop.label",
      "options": [
        {
          "value": "top",
          "label": "t:sections.banner.settings.image_crop.options.option_1.label"
        },
        {
          "value": "center",
          "label": "t:sections.banner.settings.image_crop.options.option_2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.banner.settings.image_crop.options.option_3.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.global.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.global.settings.image.label_mobile"
    },
    {
      "type": "color",
      "id": "background_overlay",
      "label": "t:sections.banner.settings.background_overlay.label",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "background_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.banner.settings.background_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.banner.settings.header_content.content"
    },
    {
      "type": "checkbox",
      "id": "show_background",
      "label": "t:sections.global.settings.background.label",
      "default": false
    },
    {
      "type": "select",
      "id": "align_vertical",
      "label": "t:sections.banner.settings.align_vertical.label",
      "options": [
        {
          "value": "top",
          "label": "t:sections.banner.settings.align_vertical.options.option_1"
        },
        {
          "value": "center",
          "label": "t:sections.banner.settings.align_vertical.options.option_2"
        },
        {
          "value": "bottom",
          "label": "t:sections.banner.settings.align_vertical.options.option_3"
        }
      ],
      "default": "bottom"
    },
    {
      "type": "select",
      "id": "align_horizontal",
      "label": "t:sections.banner.settings.align_horizontal.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.banner.settings.align_horizontal.options.option_1"
        },
        {
          "value": "center",
          "label": "t:sections.banner.settings.align_horizontal.options.option_2"
        },
        {
          "value": "right",
          "label": "t:sections.banner.settings.align_horizontal.options.option_3"
        }
      ],
      "default": "left"
    }
  ]
}
{% endschema %}
