<section class="container center">
  {%- if section.settings.heading != blank -%}
    <p class="h3 regular">{{- section.settings.heading -}}</p><!-- /.regular -->
  {%- endif -%}

  {%- if section.settings.title != blank -%}
    <h1 class="h2">{{- section.settings.title -}}</h1><!-- /.h2 -->
  {%- endif -%}

  {%- if section.settings.link_text != blank and section.settings.link_url != blank -%}
    {%- assign value = section.settings.link_text -%}
    {%- render 'button', type: 'link', value: value, href: section.settings.link_url -%}
    {%- assign value = nil -%}
  {%- endif -%}
</section><!-- /.container center -->

{% schema %}
{
  "name": "t:sections.main-404.name",
  "settings": [
    {
      "type": "textarea",
      "id": "heading",
      "label": "t:sections.main-404.settings.heading.label",
      "default": "404"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.main-404.settings.title.label",
      "default": "Page not found"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "t:sections.main-404.settings.link_text.label",
      "default": "Continue shopping"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "t:sections.main-404.settings.link_url.label",
      "default": "/collections/all"
    }
  ]
}
{% endschema %}
