{{- 'section-footer-password.css' | asset_url | stylesheet_tag -}}

<footer class="footer-password center color-background color-paragraphs color-{{- section.settings.style -}}">
  <div class="footer-password__inner container mb-xs mb-0--large pt-xl pb-xl">
    <div class="footer-password__content flex">
      <p class="p3 flex flex--center flex--justify-center mt-s mt-0--large mb-0">
        {{- 'password.admin_link_html' | t -}}
      </p>
    </div><!-- /.footer-password__content -->
  </div><!-- /.container -->
</footer><!-- /.footer-password -->

{% schema %}
{
  "name": "t:sections.password-footer.name",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.global.settings.style.label",
      "options": [
        {
          "value": "style-1",
          "label": "t:sections.global.settings.style.options.option_1"
        },
        {
          "value": "style-2",
          "label": "t:sections.global.settings.style.options.option_2"
        },
        {
          "value": "style-3",
          "label": "t:sections.global.settings.style.options.option_3"
        }
      ],
      "default": "style-1"
    }
  ]
}
{% endschema %}

