.share-icons {
  border-top: 0.1rem solid var(--color-seperators);
  border-bottom: 0.1rem solid var(--color-seperators);
}

.share-icons ul {
  row-gap: var(--spacing-step);
}

.share-icons .share__link {
  text-decoration: none;
  color: inherit;
  will-change: opacity;
  transition: opacity var(--duration-default) ease-in-out;
}

.share-icons .share__link svg {
  margin-right: var(--spacing-step);
}

@media (hover: hover) and (pointer: fine) {
  .share-icons .share__link:hover {
    opacity: 0.5;
  }
}

@media (min-width: 750px) {
  .share__item {
    padding-inline: calc(var(--spacing-step) * 4);
  }
}
