.rte > * {
  color: var(--color-paragraphs);
  margin-block: calc(var(--spacing-step) * 2);
}

.rte h1,
.rte h2,
.rte h3,
.rte h4,
.rte h5,
.rte h6 {
  color: var(--color-headings);
}

.rte blockquote {
  font-weight: 700;
  display: flex;
  padding-inline: 0;
  border: none;
  margin-inline: 0;
}

.rte blockquote p {
  font-size: calc(var(--font-body-scale) * 1.8rem);
  line-height: calc(1.33 / var(--font-body-scale));
  height: max-content;
  margin: 0 0 0 calc(var(--spacing-step) * 2);
}

.rte blockquote:before {
  content: '\2018\2018';
  font-size: calc(var(--font-heading-scale) * 3.6rem);
  line-height: calc(1.1 / max(1, var(--font-heading-scale)));
  height: fit-content;
}

.rte ul,
.rte ol {
  list-style-position: inside;
  line-height: 1.78;
  padding-left: calc(var(--spacing-step) * 6);
}

.rte ul li,
.rte ol li {
  padding-left: var(--spacing-step);
}

.rte ul div,
.rte ol div {
  display: inline-block;
}

.rte ol li::marker {
  font-weight: 700;
}

.rte h1:last-child,
.rte h2:last-child,
.rte h3:last-child,
.rte h4:last-child,
.rte h5:last-child,
.rte h6:last-child,
.rte p:last-child,
.rte blockquote:last-child,
.rte ul:last-child,
.rte ol:last-child,
.rte table:last-child,
.rte li:last-child {
  margin-bottom: 0;
}

.rte table {
  display: block;
  max-width: max-content;
  margin-inline: auto;
  overflow-x: auto;
  white-space: nowrap;
}

.rte iframe {
  max-width: 100%;
}

@media screen and (min-width: 750px) {
  .article__rte > * {
    margin-block: calc(var(--spacing-step) * 3);
  }

  .article__rte > :first-child {
    margin-top: calc(var(--spacing-step) * 2);
  }

  .rte table {
    display: table;
    max-width: 100%;
    table-layout: auto;
  }
}
