.main-password {
  height: 100%;
}

.main-password__inner {
  width: 100%;
}

.main-password__form {
  display: none;
}

#PasswordForm:target {
  display: block;
}

#PasswordForm:target ~ .main-password__content {
  display: none;
}

.main-password__form-group {
  display: flex;
  max-width: 65.6rem;
  margin-inline: auto;
}

.main-password__button {
  min-width: 9.6rem;
  height: 100%;
}

.field {
  flex-grow: 1;
  margin-right: var(--spacing-step);
}

.field__message {
  position: absolute;
}
