.footer-password__inner {
  border-top: 0.1rem solid var(--color-seperators);
}

.footer-password__content {
  flex-direction: column;
  justify-content: center;
}

.footer-password__content p svg {
  margin-left: var(--spacing-step);
}

.footer-password__content p a {
  margin-left: 0.25em;
}

@media (min-width: 768px) {
  .footer-password__content {
    flex-direction: row;
    justify-content: space-between;
  }
}
